
{% macro initial_cluster() -%}
{% for host in groups[etcd_peers_group] -%}
  {{ hostvars[host]['ansible_hostname'] }}=http://{{ hostvars[host]['ansible_default_ipv4'].address}}:{{ELPU_PORT}},
{%- endfor -%}
{% endmacro -%}
####fdsfsd
[member] 
ETCD_NAME={{ansible_hostname}}
## This is test 
ETCD_DATA_DIR={{ETCD_DATA_DIR}}
ETCD_LISTEN_PEER_URLS=http://{{ansible_default_ipv4.address}}:{{ELPU_PORT}}
ETCD_LISTEN_CLIENT_URLS=http://{{ansible_default_ipv4.address}}:{{ELCU_PORT}}
ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ansible_default_ipv4.address}}:{{ELPU_PORT}}
#ETCD_INITIAL_CLUSTER= { initial_cluster() }}
ETCD_INITIAL_CLUSTER={{ initial_cluster() }}
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_INITIAL_CLUSTER_TOKEN= {{ ETCD_INITIAL_CLUSTER_TOKEN }}
ETCD_ADVERTISE_CLIENT_URLS=http://{{ansible_default_ipv4.address}}:{{ELCU_PORT}}

#[proxy]

ETCD_PROXY="off"

#[security]

#ETCD_CA_FILE={{ etcd_ca_file }}
#ETCD_CERT_FILE={{ etcd_cert_file }}
#ETCD_KEY_FILE={{ etcd_key_file }}
#ETCD_PEER_CA_FILE={{ etcd_peer_ca_file }}
#ETCD_PEER_CERT_FILE={{ etcd_peer_cert_file }}
#ETCD_PEER_KEY_FILE={{ etcd_peer_key_file }}
